body {
  text-align: center;
  background-color: #2c2c2c;
}

h1 {
  font-size: 5rem;
  color: rgb(102, 101, 101);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 rgb(0, 255, 64);
}

footer {
  color: rgb(102, 101, 101);
  font-family: sans-serif;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
  background-color: #2e2e2e;
}

.one {
}

.two {
}

.three {
}

.four {
}

.five {
}

.six {
}

.seven {
}
.r {
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: rgb(9, 255, 0);
  opacity: 0.8;
}

.pressed {
  transform: scale(1.2);
  background-color: #2e2e2e !important;
}

.red {
  color: rgb(43, 255, 0);
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: rgb(0, 255, 64);
  text-shadow: 3px 0 #dbedf3;
  border-radius: 5rem;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(102, 101, 101);
}

.random {
  display: inline-block;
  width: 30rem;
}
